main {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.input {
  width: 400px;
  display: flex;
}

.input input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: inherit;
  color: inherit;
  text-align: center;
  box-shadow: 1px 1px 2px .4px black;
}

input::placeholder {
  color: hsl(0, 0%, 52%);
}

.busca {
  position: absolute;
  margin: 0.5rem 2rem;
  top: 17.5%;
  width: 30px;
  height: 30px;
}

.busca img {
  width: 90%;
  height: 90%;
}

.busca img:hover {
  cursor: pointer;
  border-bottom: 1px solid aqua;
}

select {
  height: auto;
  padding: 0.8rem;
  border-radius: 5px;
}

/* corrigir select e options */
.countries {
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  row-gap: 1.3rem;
}
.back-to-top {
  position: fixed;
  background-color: transparent;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: none; /* O botão ficará escondido até rolar para baixo */
}

.show {
  display: block;
}

.back-to-top img {
  background-color: hsl(209, 23%, 22%);
  border-radius: 50%;
}

.back-to-top img:hover {
  background-color: #007bff;
}

