/* Container do cartão */
.container-cards {
  display: flex;
  flex-direction: column;
  box-shadow: .1px .1px 2px .1px hsl(209, 23%, 22%);
  text-align: justify;
  width: 360px;
  height: 400px;
  border-radius: 5px;
}



/* Imagens dentro do cartão */
.imgs {
  width: 100%;
  min-height: 220px;
}

.imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid hsla(0, 0%, 52%, 0.092);
}

/* Informações dentro do cartão */
.info {
  height: 100%;
  padding: 1.3rem;
}

/* Botão dentro da seção de informações */
.info a {
  padding: 0.3rem 0;
  background-color: inherit;
  color: inherit;
  border: none;
  font-weight: bold;
  font-size: 2rem;
}

/* Efeito de hover no botão */
.info a:hover {
  color: hsl(0, 0%, 52%);
  text-decoration: underline 2px white;
  cursor: pointer;
}

/* Parágrafo dentro das informações */
.info p {
  padding: 0.3rem 0;
}

/* Span dentro das informações */
.info span {
  color: hsl(0, 0%, 52%); /* cor do texto em span */
}
