header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.129);
}

header.dark {
  background-color: hsl(209, 23%, 22%);
  color: white;
}
header.light {
  background-color: white;
  color: hsl(209, 23%, 22%);
}

header h1 {
  padding-left: 2rem;
}

header span {
  padding-right: 2rem;
}

header button {
  background-color: inherit;
  color: inherit;
  box-shadow: 1px 1px 2px 1px hsla(0, 0%, 52%, 0.245);
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

header button:hover {
  background-color: rgb(181, 188, 191);
  color: hsl(209, 23%, 22%);
}
