body {
  background-color: hsl(207, 26%, 17%);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
 
}
/* Estilos gerais */
.App {
  text-align: center;
  padding: 20px;
}

/* Tema claro */
.App.light {
  background-color: #ffffff;
  color: #000000;
}

/* Tema escuro */
.App.dark {
  background-color:  hsl(209, 23%, 22%);
  color: #ffffff;
}



