body {
  background-color: hsl(207, 26%, 17%);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Estilos gerais */
.App {
  text-align: center;
}

/* Tema claro */
.App.light {
  background-color: hsl(0, 0%, 98%);
  color: #000000;
}

/* Tema escuro */
.App.dark {
  background-color: hsl(207, 26%, 17%);
  color: #ffffff;
}

.App.light header {
  background-color: hsl(0, 0%, 98%);
  color: black;
}
.App.dark header {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.App.light select {
  background-color: hsl(0, 0%, 100%);
  color: hsl(209, 23%, 22%);
}

.App.dark select {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.App.light .container-cards {
  background-color: hsl(0, 0%, 100%); /* fundo claro */
  color: black; /* Cor do texto */
  border-color: hsl(0, 0%, 90%);
}

.App.dark .container-cards {
  background-color: hsl(209, 23%, 22%); /* fundo escuro */
  color: white;
  border-color: hsl(209, 23%, 22%);
}

.App.light .container-cards .info {
  color: black; /* cor do texto mais escura no modo claro */
}
.App.dark .container-cards .info {
  color: white; /* cor do texto mais escura no modo claro */
}

.App.light input {
  background-color: white;
  color: hsl(0, 0%, 52%);
}
.App.dark input {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.App.light main input::placeholder {
  color: hsl(0, 0%, 52%);
}
.App.dark main input::placeholder {
  color: white;
}

/* Estilo para o modo claro */
.App.light .container-details,
.App.light header button {
  background-color: #f9f9f9;
  color: black;
}

/* Estilo para o modo escuro */
.App.dark .container-details,
.App.dark header button {
  background-color: hsl(207, 26%, 17%);
  color: white;
}

.App.light .container-details .box-exit, .App.light .fronteiras button {
  background-color: #f9f9f9;
  color: black;
}

.App.dark .container-details .box-exit, .App.App.dark .fronteiras button  {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.App.light .box-exit:hover,
.App.light .fronteiras button:hover,
.App.light header button:hover {
  color: inherit;
  box-shadow: 1px 1px 8px 2px  hsl(209, 23%, 22%);
  cursor: pointer;
}

.App.dark .box-exit:hover,
.App.dark .fronteiras button:hover,
.App.dark header button:hover {
  color: inherit;
  box-shadow: 1px 1px 8px  2px white;
  cursor: pointer;
}
